<div class="about_us_main_div">
    <section class="about_us_section">
        <h2 class="about_us_title">About Us</h2>
        <p class="about_us_text">
            GlobalMart is a platform that allows you to buy and sell products. We offer a wide range of products
            from
            electronics to fashion, home, and books. Our goal is to provide a seamless shopping experience for our
            customers.
        </p>
        <p class="about_us_text">
            We are Luis, Juanma, Alvaro and Cristian, the founders of GlobalMart. With a passion for
            innovation and a
            commitment to excellence, We have dedicated our career to creating a unique shopping experience for our
            customers.
            Our journey began with a simple idea: to provide high-quality products that cater to the diverse needs
            of our
            customers. Over the years, we have worked tirelessly to bring this vision to life, and we are proud of
            the
            progress we have made.
        </p>
        <p class="about_us_text">
            Outside of work, we enjoy playing padel and basketball, which help us stay inspired and motivated. We
            believe
            in the power of community and strive to make a positive impact through our work.
        </p>

        <h2 class="about_us_title">Our Mission</h2>
        <p class="about_us_text">
            Our mission is to provide a seamless shopping experience for our customers. We are committed to
            delivering
            high-quality products at affordable prices. We strive to create a platform that caters to the diverse
            needs of
            our customers and provides them with a wide range of products to choose from. Our team is dedicated to
            providing excellent customer service and ensuring that our customers have a great shopping experience.
        </p>
    </section>
</div>