<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> -->
<link rel="stylesheet" href="./company-graph.component.css" />

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description"></p>
</figure>

<!-- <div id="orderPrices-data" [attr.data-orderPrices]="orderPrices"></div> -->

<!-- <script src="/js/userGraph.js"></script> -->
