<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Global Mart</title>

    <!-- /* Links */ -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/administrator.css">

    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">

</head>



<body>
    <!-- ----------------- Nav ----------------- -->
    {{>./components/nav}}



    
    {{#productsNotAccepted}}
        {{>./components/addProd}}
    {{/productsNotAccepted}}


    {{^productsNotAccepted}}
        <div>
            <h1 class="messageAllProcessed">All products processed</h1>
        </div>
    {{/productsNotAccepted}}
    <!-- ------------Footer ------------ -->
    {{>./components/footer}}

</body>
</html>