
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error al realizar el formulario</title>
    <link rel="stylesheet" href="../css/login_error.css">

    <!-- /* Itim Font */ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap"
        rel="stylesheet">
</head>

<body>
    {{> components/nav}}

    <div class="error_div">
        <h2>Error al realizar el formulario</h2>
    </div>

    {{> components/footer}}
</body>

</html>